src/Angular2ComponentPlotly/node_modules
.vs/Angular2ComponentPlotly/v14/.suo
src/Angular2ComponentPlotly/Angular2ComponentPlotly.xproj.user
src/angular2plotly/node_modules
src/angular2plotly/dist
src/angular2plotly/angular2plotly.xproj.user
src/angular2plotly/project.lock.json
src/angular2plotly/tmp
src/Angular2ComponentPlotly/bin/Debug/netcoreapp1.0/Angular2ComponentPlotly.runtimeconfig.dev.json
src/Angular2ComponentPlotly/bin
src/Angular2ComponentPlotly/obj
